@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body html{
    overflow: hidden;
    position: relative;
}

/* NAVBAR SECTION */

.navbar{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0 200px;
}
#navbar_logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
}
#fa-meveran{
    margin-right: 1rem;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 100px;

}
.navbar_links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}
#navbar_logo_es{
    margin-left: 0.5rem;
}
.navbar_links:hover{
    color: #E98F41;
    transition: 0.5s ease;
}
@media screen and (max-width:1200px){

    /* NAVBAR SECTION*/

    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 10vh;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }
    .navbar_menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5 ease-in-out;
        background: white;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #navbar_mobile{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #navbar_mobile.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #navbar_mobile.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #navbar_mobile.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* HERO SECTION */

.main {
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.main_container {
    padding: 0 200px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    
}

.main_content {
    width: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.text h1 {
    font-size: 5rem;
}

/* BIG SLIDER */

.slider_container {
    width: 55%;
    border: white 2px solid;
    z-index: 1;
    background: linear-gradient(rgb(113, 113, 113), black);
}
.slide {
    width: 100%;
    display: flex;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}
.bio_v {
    color: white;
    width: 30%;
    padding: 10px 15px;
    text-align: right;
}
.bio_v h2 {
    padding: 10px 0;
}
.bio_v p {
    opacity: 0.9;
    font-weight: 300;
}
.image_v {
    width: 70%;
    display: flex;
    object-fit: cover;
}
.image_v img {
    width: 100%;
}
.bio_h {
    color: white;
    width: 100%;
    padding: 10px;
    text-align: right;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.bio_h h2 {
    padding: 10px 0;
}
.bio_h p {
    opacity: 0.9;
    font-weight: 300;
}
.img_h {
    display: flex;
    flex-direction: column;
}
.image_h {
    width: 100%;
    display: flex;
    object-fit: cover;
    height: 70%;
}
.image_h img {
    width: 100%;
}

/* MODAL */
  
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
    z-index: 1000;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    height: 70vh;
    width: auto;
    object-fit: scale-down;
}
.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}
  
/* CAROUSEL DIV */

.carousel {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}

.glide__arrow {
    background: transparent;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
}
.fas {
    font-size: 40px;
}
.glide__arrow--left {
    position: absolute;
    left: -15%;
    top:20%;
    color: white;
}
.glide__arrow--right {
    position: absolute;
    right: -15%;
    top:20%;
    color: white;
}
.glide__arrow--left:hover {
    color: grey;
}
.glide__arrow--right:hover {
    color: grey;
}
.glide__slide {
    display: flex;
    align-self: center;  
}
.glide__slide img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}
.glide__slide {
    opacity: .7;
    filter: brightness(.7);
}
.glide__slide--active {
    opacity: 1;
    transition: all 0.3s ease;
    filter: brightness(1.2);
    transform: scale(1.1);
    background: linear-gradient(black, grey, black);
}

/* INTERSECTION */

.line {
    width: 100%;
    background-color: black;
    height: 10vh;
}

/* MAP SECTION */

.map {
    width: 100%;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}
.where-section {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.where-section h1 {
    font-size: 4rem;
    font-weight: bold;
}
.map-container {
    height: 80%;
    width: 100%;
    display: flex;
}
.tabs {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 1%;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(223, 223, 223);
}
::-webkit-scrollbar-thumb {
    background: #000000;
  }
.tab {
    display: flex;
    height: 15%;
    position: sticky;
    top: 0;
}
.tablinks {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    border: none;
    background: white;
}
.tablinks:hover {
    border: #000000 2px solid;
}
.tablinks:focus {
    border: #000000 2px solid;
}

.tabcontent {
    width: 100%;
    height: 85%;
}
.tabcontent li {
    list-style: square;
    display: list-item;
    margin-left: 10%;
    margin-top: 10px;
}
.btn_adress {
    text-decoration: none;
    border: none;
    background: white;
    width: 100%;
    text-align: left;
}
.btn_adress:hover {
    .adress {
        color: #E98F41;
    }
}
.adress {
    font-weight: bold;
    font-size: 1rem;
}

#map {
    width: 60%;
    border: purple 2px solid;
    height: 100%;
}

.line {
    width: 100%;
    background-color: black;
    height: 10vh;
}
